/** @format */

.container-fluid {
  margin-left: 3cm !important;
  display: flex;
  gap: 1px !important;
}
.navbar {
  background-color: black !important;
  color: white !important;
}
.amaz-one {
  margin-left: 20px !important;
}
.d-flex {
  width: 12cm !important;
  height: 40px !important;
}
.form-control {
  margin-left: 10px;
}
.d-flex {
  margin-left: 20px !important;
}
.navbar-brand {
  margin-left: -5cm;
}
.ayo {
  display: flex;
  gap: 20px;
  margin-left: -1cm;
}
.amaz-two {
  height: 50px;
  width: 50px;
  background-color: gray;
  color: white;
}
.amaz-three {
  background-color: rgb(218, 204, 199);
}
.all {
  /* background-color: rgb(208, 206, 206); */
  background-color: whitesmoke;
  padding: 30px;
  /* display: inline-block; */
  margin-top: -5px;
  margin-left: 8px;
  height: 10cm;
  width: 8cm;
  justify-content: center;
}
.win {
  display: flex;
  gap: 5px;
}
.game {
  /* margin-top: 5px; */
  margin-left: -18px;
  padding: 40px 40px 40px 40px;
}
.game {
  /* margin-top: 100px;
    margin-left: 10px;
    background-color: white;
    padding: 10px; */
}
.items {
  display: flex;
  margin-left: -30px;
  text-align: center;
}
.meme {
  margin-left: -60px;
}
.wini {
  display: flex;
  gap: 5px;
  padding-top: 2cm;
}
.grace {
  margin-left: 30px;
}
.itemi {
  display: flex;
  gap: 5px;
  margin-left: -25px;
}
.seller {
  background-color: white;
  padding-top: 2cm;
}
.box {
  background-color: white;
}
.usa {
  display: flex;
  gap: 5px;
  margin-left: 5px !important;
  margin-top: 10px;
  color: white !important;
}
.nav-link {
  font-size: 12px !important;
  color: white !important;
}
.btn {
  background-color: chocolate !important;
  color: black !important;
}
.lox {
  display: flex;
  gap: 0.5cm;
  margin-left: 1cm;
}
.box {
  background-color: #f5f5f5;
  padding: 0.8cm;
}
.victory {
  display: flex;
  gap: 5px;
  padding-top: 2cm;
}
.sign {
  background-color: #ffc636;
  width: 6cm;
}
.sign-in {
  text-align: center;
}
.tao {
  padding-top: 2cm;
}
.taoma {
  font-size: 15px;
}
.taoson {
  color: #6b71a0;
}
.sodiq {
  display: flex;
  gap: 10px;
}
.back {
  background-color: #37475a;
  color: white;
  text-align: center;
  padding: 0.5px;
}
.leo {
  margin-top: 6cm;
}
.jare {
  margin-top: -4cm;
}
footer {
  background-color: #232f3e;
  color: white;
}
.yoo {
  font-size: 15px;
}
.power {
  display: flex;
  gap: 2cm;
  margin-left: 1cm;
}
.var {
  margin-top: 1cm;
}
.musa {
  margin-left: 3cm;
}
.wahab {
  margin-left: 12cm;
  margin-top: -25px;
}
